:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.bold-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
}

#nav {
    position: absolute;
    width: 260px;
    height: 100%;
    left: 0px;
    top: 0px;
    border-right: 1px solid #CBCBCB;
}

#nav .logo {    
    position: absolute;
    width: 136px;
    height: 39px;
    left: 36px;
    top: 4%;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #1B0303;
}

#nav .sub-page {
    position: absolute;
    width: 260px;
    height: 300px;
    top: 130px;
}

#nav .dashboard .fa-house,
#nav .message .fa-comment,
#nav .task .fa-calendar-check,
#nav .em-mn .fa-id-card,
#nav .fa-mn .fa-list-check,
#nav .setting .fa-gear,
#nav .log-out .fa-right-from-bracket {
    position: absolute;
    left: 28px;
}

#nav .dashboard .db-txt, 
#nav .message .mg-txt,
#nav .task .ts-txt,
#nav .em-mn .em-mn-txt,
#nav .fa-mn .fa-mn-txt,
#nav .setting .st-txt,
#nav .log-out .lg-txt {
    position: absolute;
    height: 22px;
    left: 64px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

/* Trang chủ */
#nav .dashboard .bg-color {
    position: absolute;
    width: 260px;
    height: 50px;
    top: 0px;
    background: #F2F2F2;
    border-radius: 13px;
}

#nav .dashboard .fa-house {
    top: 16px;
}

#nav .dashboard .db-txt {
    width: 88px;
    top: 14px;
    font-weight: 600;
}

#nav .fa-chevron-right {
    position: absolute;
    height: 32px;
    left: 236px;
    top: 15px;
}

/* Tin nhắn */
#nav .message .bg-color {
    position: absolute;
    width: 260px;
    height: 50px;
    top: 50px;
    border-radius: 13px;
}

#nav .message .fa-comment {
    top: 68px;
}

#nav .message .mg-txt {
    width: 74px;
    top: 64px;
}

/* Giao nhiệm vụ */
#nav .task .bg-color {
    position: absolute;
    width: 260px;
    height: 50px;
    top: 100px;
    border-radius: 13px;
}

#nav .task .fa-calendar-check {
    top: 117px;
}

#nav .task .ts-txt {
    width: 122px;
    top: 114px;
}

/* Quản lý nhân viên */
#nav .em-mn .bg-color {
    position: absolute;
    width: 260px;
    height: 50px;
    top: 150px;
    border-radius: 13px;
}

#nav .em-mn .fa-id-card {
    top: 167px;
    left: 25px !important;
}

#nav .em-mn .em-mn-txt {
    width: 152px;
    top: 164px;
}

/* Quản lý chung */
#nav .fa-mn .bg-color {
    position: absolute;
    width: 260px;
    height: 50px;
    top: 200px;
    border-radius: 13px;
}

#nav .fa-mn .fa-list-check {
    top: 217px;
}

#nav .fa-mn .fa-mn-txt {
    width: 122px;
    top: 214px;
}

/* Cài đặt */
#nav .setting .bg-color {
    position: absolute;
    width: 260px;
    height: 50px;
    top: 250px;
    border-radius: 13px;
}

#nav .setting .fa-gear {
    top: 268px;
}

#nav .setting .st-txt {
    width: 61px;
    top: 264px;
}

/* Đăng xuất */
#nav .log-out .fa-right-from-bracket {
    bottom: 2.2%;
    left: 67px !important;
    color: red;
}

#nav .log-out .lg-txt {
    width: 87px;
    bottom: 2%;
    left: 95px !important;
    color: red;
}

/* ----------CONTENT---------- */

#content .msg {
    box-sizing: border-box;

    position: absolute;
    width: 360px;
    height: 100%;
    left: 261px;
    /* top: -4px; */
    background: #FFFFFF;
    border-right: 1px solid #CBCBCB;
}

#content .msg .head {
    position: absolute;
    width: 136px;
    height: 39px;
    left: 35px;
    top: 30px;
    margin: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 16px;
    /* or 50% */
    color: #000000;
}

#content .msg .search_bar {
    position: absolute;
    width: 297px;
    height: 35px;
    left: 35px;
    top: 75px;

    background: #E7E2E2;
    border-radius: 13px;
}

#content .msg .search_bar .search_text {
    position: absolute;
    width: 297px;
    height: 10px;
    top: -5px;
    left: 5%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* or 100% */

    color: #000000;
}

#content .msg .search_bar .fa-magnifying-glass {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 90%;
    top: 30%;
}

#content .msg .elements {
    position: relative;
    width: 297px;
    height: 73px;
    left: 35px;
    top: 140px;

    margin-top: 20px;
    clear: both;
    overflow: hidden;

    background: #F5F5F5;
    border-radius: 10px;
}


#content .msg .elements .elements__avata {
    border-radius: 50%;
    position: absolute;
    left: 5%;
    top: 18%;
}

#content .msg .elements .elements__name {
    position: absolute;
    width: 223px;
    height: 57px;
    left: 25%;
    top: -15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    color: #000000;
}

#content .msg .elements .elements__msg {
    position: absolute;
    width: 223px;
    height: 57px;
    left: 25%;
    top: 13px;

    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    /* font-weight: 600;
    font-size: 16px; */

    color: #000000;
}

#content .detail {
    box-sizing: border-box;

    position: absolute;
    /* width: max-content; */
    height: 100%;
    left: 621px;
    right: 0px;
    top: 0px;
    background: #ffffff;
}

#content .detail .detail__user {
    box-sizing: border-box; 
    position: relative;
    width: 100%;
    height: 84px;
    right: 0px;
    top: 0px;

    background: #b7e0b5;
    border: 1px solid #CBCBCB;
}

#content .detail .detail__user .detail__user--avata {
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 5px;
}

#content .detail .detail__user .detail__user--name {
    position: absolute;
    width: 1000px;
    height: 50px;
    left: 120px;
    top: 2px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    /* line-height: 16px; */

    color: #000000;
}

#content .detail .detail__user .fa-circle-info {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 30px;
    top: 40px;
}

