.arr1 {
    position: inherit;
    width: fit-content;
    top: 65px;   
    left: -23px;
    /* color: #017A5B; */
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
  }

.arr2 {
    float: right;
    position: inherit;
    width: fit-content;
    /* color: #017A5B; */
    top: -80px;   
    left: 23px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
  }

  .slick-dots {
    position: absolute;
    display: inline-block;
    margin: 0;
    padding-top: 18px;
    list-style-type: none;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .slick-dots li {
    float: left;
    padding: 0px 5px;
  }
  .slick-dots button {
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #acaaaa;
    text-indent: -9999px;
  }
  .slick-dots li.slick-active button {
    background-color: black;
  }