:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}
body {
  height: 100%;
  margin: 0;
}

/* NAV BAR */

.nav {
  position: absolute;
  width: 280px;
  height: 100%;
  left: 0px;
  top: 0px;
  border-right: 1px solid #cbcbcb;
}
.nav .home {
  position: absolute;
  width: 136px;
  height: 39px;
  left: 36px;
  top: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}
.nav #homepage {
  top: 30px;
  left: 60px;
}
.nav #homepage .fa-house {
  position: absolute;
  width: 33px;
  height: 30px;
  left: 28px;
  top: 143px;
}
.nav #homepage #hm-txt {
  position: absolute;
  left: 64px;
  top: 142px;
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.nav .nav_element .fa-comment {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 28px;
  top: 201px;
}
.nav .nav_element #me-txt {
  position: absolute;
  left: 64px;
  top: 198px;
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}
.nav .nav_element .fa-calendar-check {
  position: absolute;
  width: 27px;
  height: 27px;
  left: 28px;
  top: 261px;
}
.nav .nav_element #mis-txt {
  position: absolute;
  width: 122px;
  height: 22px;
  left: 64px;
  top: 260px;
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}
.nav .nav_element .fa-id-card {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 28px;
  top: 320px;
}
.nav .nav_element #stf-txt {
  position: absolute;
  width: 152px;
  height: 22px;
  left: 64px;
  top: 318px;
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}
.nav .nav_element .background {
  position: absolute;
  width: 280px;
  height: 51px;
  left: 1px;
  top: 368px;

  background: #f2f2f2;
}
.nav .nav_element .fa-list-check {
  position: absolute;
  width: 27px;
  height: 27px;
  left: 28px;
  top: 385px;
}
.nav .nav_element #mag-txt {
  position: absolute;
  width: 125px;
  height: 22px;
  left: 64px;
  top: 382px;
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}
.nav .nav_element .fa-chevron-right {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 248px;
  top: 386px;
  cursor: pointer;
}

.nav .nav_element .fa-gear {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 28px;
  top: 437px;
}
.nav .nav_element #set-txt {
  position: absolute;
  width: 61px;
  height: 22px;
  left: 64px;
  top: 434px;
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}
.nav .nav_element .fa-right-from-bracket {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 75px;
  top: 678px;

  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}
.nav .nav_element #lo-txt {
  position: absolute;
  width: 87px;
  height: 22px;
  left: 106px;
  top: 676px;
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}

/* DETAILS */

.detail {
  position: absolute;
  width: 331px;
  height: 720px;
  left: 280px;
  top: 0px;

  background: #ffffff;
  border: 1px solid #cbcbcb;
}
.detail .option {
  position: static;
  width: 331px;
  height: 179px;
  left: 280px;
  top: 0px;

  background: #ffffff;
  /* border: 1px solid #CBCBCB; */
  /* border-left: #FFFFFF; */
  border-bottom: 1px solid #cbcbcb;
}
/* Show List */
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 24px;
  gap: 20px;

  position: absolute;
  width: 236px;
  height: 30px;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;

  background: #017a5b;
  border-radius: 23px;
  border: 1px solid #017a5b;
  cursor: pointer;
}
.mcp {
  /*Quản lý phương tiện*/
  /* position: absolute; */
  width: 172px;
  height: 22px;
  /* padding-left: 30px; */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
#arrow {
  color: #ffffff;
  padding-bottom: 7px;
}
.toggleArrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}
.chosen {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 24px;
  gap: 20px;

  width: 200px;
  height: 26px;
  top: 88px;
  left: 50%;
  transform: translateX(-50%);

  background: white;
  border-radius: 23px;
  border: 1px solid #017a5b;
  cursor: pointer;

  visibility: hidden;
  opacity: 0;

  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  z-index: 1;
}
.unchosen {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 24px;
  gap: 20px;

  width: 200px;
  height: 26px;
  top: 132px;
  left: 50%;
  transform: translateX(-50%);

  background: white;
  border-radius: 23px;
  border: 1px solid #017a5b;
  cursor: pointer;

  visibility: hidden;
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  z-index: 1;
}
.showList {
  opacity: 1;
  visibility: visible;
}
.chosen:hover {
  color: white;
  opacity: 0.5;
  background-color: #017a5b;
}
.unchosen:hover {
  color: white;
  opacity: 0.5;
  background-color: #017a5b;
}
/* Search*/
.detail .option .find {
  position: absolute;
  width: 85%;
  height: 35px;
  left: 50%;
  top: 104px;
  transform: translateX(-50%);

  display: flex;
  background: #e7e2e2;
  border-radius: 13px;
}
.detail .option .find .find-txt {
  position: absolute;
  width: 90%;
  height: 100%;
  left: 0;
  padding: 0 10px;
  outline: none;
  border: none;

  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  /* or 100% */

  color: #000000;
  background: transparent;
  border-radius: 13px;
  /* background: #E7E2E2; */
}
.detail .option .find i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(
    -50%
  ); /* top và transform để canh giữa theo trục Y (phải có position)*/
  cursor: pointer; /*chuyển về trỏ bàn tay*/
}
.fa-location-dot {
  position: absolute;
  top: 205px;
  left: 30px;
  margin: 0;
}
.detail .data .total {
  position: absolute;
  top: 206px;
  left: 62px;
  margin: 0;
}

/* BLOCK 1 */
.block1 {
  box-sizing: border-box;

  position: absolute;
  width: 241px;
  height: 100px;
  left: 45px;
  top: 280px;

  background: #ffffff;
  border: 1px solid #cecece;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  cursor: pointer;
}
.block1 .name {
  position: absolute;
  top: 16px;
  left: 24px;
  margin: 0;
  font-weight: bold;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #1b0303;
}
.block1 #area {
  position: absolute;
  top: 38px;
  left: 24px;
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #1b0303;
}
.block1 .bar {
  position: absolute;
  width: 200px;
  height: 10px;
  left: 24px;
  top: 60px;

  background: #d9d9d9;
  border-radius: 10px;
}
.block1 .green-bar {
  position: absolute;
  width: 194px;
  height: 10px;
  left: 24px;
  top: 60px;

  background: green;
  border-radius: 10px;
}
.block1 .percent {
  position: absolute;
  top: 38px;
  right: 24px;
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}
.block1:hover {
  background-color: #dbe4de;
}
/* BLOCK 2 */
.block2 {
  box-sizing: border-box;

  position: absolute;
  width: 241px;
  height: 100px;
  left: 45px;
  top: 400px;

  background: #ffffff;
  border: 1px solid #cecece;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  cursor: pointer;
}
.block2 .name {
  position: absolute;
  top: 16px;
  left: 24px;
  margin: 0;
  font-weight: bold;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #1b0303;
}
.block2 #area {
  position: absolute;
  top: 38px;
  left: 24px;
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #1b0303;
}
.block2 .bar {
  position: absolute;
  width: 200px;
  height: 10px;
  left: 24px;
  top: 60px;

  background: #d9d9d9;
  border-radius: 10px;
}
.block2 .yellow-bar {
  position: absolute;
  width: 160px;
  height: 10px;
  left: 24px;
  top: 60px;

  background: yellow;
  border-radius: 10px;
}
.block2 .percent {
  position: absolute;
  top: 38px;
  right: 24px;
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}
.block2:hover {
  background-color: #dbe4de;
}
/* BLOCK 3 */
.block3 {
  box-sizing: border-box;

  position: absolute;
  width: 241px;
  height: 100px;
  left: 45px;
  top: 520px;

  background: #ffffff;
  border: 1px solid #cecece;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  cursor: pointer;
}
.block3 .name {
  position: absolute;
  top: 16px;
  left: 24px;
  margin: 0;
  font-weight: bold;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #1b0303;
}
.block3 #area {
  position: absolute;
  top: 38px;
  left: 24px;
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #1b0303;
}
.block3 .bar {
  position: absolute;
  width: 200px;
  height: 10px;
  left: 24px;
  top: 60px;

  background: #d9d9d9;
  border-radius: 10px;
}
.block3 .red-bar {
  position: absolute;
  width: 100px;
  height: 10px;
  left: 24px;
  top: 60px;

  background: red;
  border-radius: 10px;
}
.block3 .percent {
  position: absolute;
  top: 38px;
  right: 24px;
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}
.block3:hover {
  background-color: #dbe4de;
}
/* MORE */
.detail .more {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  right: 20px;
  font-size: 18px;
}
/* CONTENT */

.content {
  width: auto;
}
.content-name {
  position: absolute;
  width: 111px;
  height: 67px;
  left: 700px;
  top: 50px;
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  /* identical to box height */

  color: #1b0303;
}
.content-area {
  position: absolute;
  width: auto;
  height: 27px;
  left: 700px;
  top: 129px;
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  color: #1b0303;
}
.content #bold-location {
  position: absolute;
  top: 230px;
  left: 750px;
  font-size: 18px;
}
.content-location {
  position: absolute;
  top: 230px;
  left: 840px;
  font-size: 18px;
}
.content-state {
  position: absolute;
  top: 270px;
  left: 750px;
  font-size: 18px;
}
.content-bar {
  position: absolute;
  width: 304px;
  height: 6px;
  left: 874px;
  top: 278px;

  background: #d9d9d9;
  border-radius: 10px;
}
.content-color-bar {
  position: absolute;
  width: 295px;
  height: 6px;
  left: 874px;
  top: 278px;

  background: green;
  border-radius: 10px;
}
.content-percent {
  position: absolute;
  top: 270px;
  right: 200px;
  font-size: 18px;
}
.content iframe {
  position: absolute;
  width: 650px;
  height: 350px;
  /* left: 660px; */
  right: 90px;
  bottom: 30px;

  /* background: url(image.png); */
}
/* Modal */
.hidden {
  display: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 6rem;
  width: 1000px;
  height: max-content;
  border-radius: 0.5rem;
  z-index: 4;
}
.listmcp {
  position: absolute;
  padding-top: 26px;
  font-size: 28px;
  font-weight: 900;
  top: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 2;
}
.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
#myInput {
  position: absolute;
  background-image: url("/css/searchicon.png");
  /* background-position: 10px 10px; */
  background-repeat: no-repeat;
  width: auto;
  height: 30px;
  font-size: 16px;
  padding-left: 4px;
  top: 30px;
  right: 98px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 12px;
}

table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

th,
td {
  text-align: center;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
td .bar {
  position: absolute;
  width: 140px;
  height: 6px;
  background: #d9d9d9;
  border-radius: 10px;
  margin-top: 6px;
}
td .color-bar1 {
  position: absolute;
  width: 140px;
  height: 6px;
  background: green;
  border-radius: 10px;
  margin-top: 6px;
}
td .color-bar2 {
  position: absolute;
  width: 118px;
  height: 6px;
  background: yellow;
  border-radius: 10px;
  margin-top: 6px;
}
td .color-bar3 {
  position: absolute;
  width: 68px;
  height: 6px;
  background: red;
  border-radius: 10px;
  margin-top: 6px;
}
td .color-bar4 {
  position: absolute;
  width: 140px;
  height: 6px;
  background: green;
  border-radius: 10px;
  margin-top: 6px;
}
td .color-bar5 {
  position: absolute;
  width: 140px;
  height: 6px;
  background: green;
  border-radius: 10px;
  margin-top: 6px;
}
td .percent {
  position: relative;
  font-size: 14px;
  bottom: 10px;
  left: 30px;
}
.multi-pagination {
  position: absolute;
  right: 100px;
  margin-top: 50px;
}
#next {
  position: absolute;
  font-size: 14px;
  margin-top: 48px;
  right: 40px;
  cursor: pointer;
  padding: 6px;
}
#prev {
  position: absolute;
  font-size: 14px;
  margin-top: 48px;
  right: 60px;
  cursor: pointer;
  padding: 6px;
}
#next:hover {
  background-color: darkgray;
  border-radius: 100%;
}
#prev:hover {
  background-color: darkgray;
  border-radius: 100%;
}
.noHover {
  pointer-events: none;
  color: gray;
}
